@import url('./vite-promo.css');
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  flex-shrink: 0;
}
.gallery {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 24px 156px;
  justify-content: center;
  gap: 24px;
}
.modal {
  width: 1112px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 24px;
  border-radius: 8px;
  gap: 16px;
}
input {
  width: 360px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #808080;
display: flex;
justify-content: center;
align-items: center;
padding: 14px 24px;
}
input:hover {
  border: 1.5px solid #000;
}
button {
  color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.64px;
display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
border: none;
background: #4E75FF;
}
button:hover {
  background: #6C8CFF;
}


.gallery {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
  /* Початково прихований */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

